//- Navigation menu
mixin nav(className, items, activeItem)
    nav(class=`${className}`)
        div(class=`container ${className}_wrapper`)
            ul(class=`${className}__list`)
                each item, ndx in items
                    li(class=`${className}__item` + ((ndx === activeItem) ? `${className}_active` : ""))
                        a(class=`${className}__link` id=`${item.id}` href=`${item.link}`)= item.title


//- Get social links and icons
mixin social(className, items)
    ul(class=`${className}__list`)
        each item in items
            li(class=`${className}__icon`)
                a(class=`${className}__link` href=`${item.link}` title=`${item.title}` target='_blank')
                    +icon(`${item.icon}`)

//- getting icons from svg sprite
mixin icon(name, mods)
    - mods = mods || ''
    svg(class="icon icon-" + name class=mods)
        use(xlink:href="/assets/img/sprite.svg#" + name)

//- pie chart
mixin chart-pie(skill, name)
    li(data-name=`${name}`).skill__chart_item
        svg.skill__chart_pie(stroke-dasharray=`${skill} 100`  viewbox="0 0 32 32")
            circle.skill__chart__cicle_bg(r="16" cx="16"  cy="16")
            circle.skill__chart__cicle_stroke(r="16" cx="16" cy="16")