extends ../_template_pages

block variables
    - var title = 'Another page'

block content
    .row.clearfix
        section.span6.about__me
            .about__me__section
                h1.page__title.page__title_black= usrData.pagesTitles.about
                svg.about__me__title_bgr
                    use(xlink:href="/assets/img/sprite.svg#about_header")
                .about__me__pic.center
                    img(src="assets/img/george-melidis.jpg" alt=`${usrData.profileName}` title=`${usrData.profileName}` )
                h3.section__title= usrData.pagesTitles.whoiam
                p
                    | Я веб разработчик из г. Салоники, Греция. Мне 35 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p
                    | Этот сайт сделан в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нём свой контент. А пока смотрите, как тут всё классно и красиво!

        section.span6_7.about__canihelp
            h3.section__title= usrData.pagesTitles.canihelp
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            .charts
                h4.skill Frontend
                ul.skill__chart
                    +chart-pie(90, 'HTML5')
                    +chart-pie(90, 'CSS3')
                    +chart-pie(90, 'JavaScript & jQuery')
                h4.skill Backend
                ul.skill__chart
                    +chart-pie(60, 'PHP')
                    +chart-pie(100, 'mySQL')
                    +chart-pie(30, 'Node.js & npm')
                    +chart-pie(30, 'Mongo.db')
                h4.skill WorkFlow
                ul.skill__chart
                    +chart-pie(60, 'Git')
                    +chart-pie(100, 'Gulp')
                    +chart-pie(30, 'Bower')
    .row.clerfix
block content_footer
    section.about__contacts
        .contact__box
            h3.section__title= usrData.pagesTitles.contact
            address.about__contacts
                ul.contacts__list
                    each item in usrData.contacts
                        li.contacts__item
                            a(href=`${item.link}`).contacts__link
                                i(class=`contacts__icon fa fa-${item.type}`)
                                span.contacts__text= item.name
    .map#gmap

block scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBruaTV780QMt_-ihQasYqJ62kdye1ZO-A&callback=initMap")