extends ../_template_pages

block variables
    - var title = 'Мои работы'

block content
    .works__section
        h1.page__title.page__title_black.center= usrData.pagesTitles.portfolio
        +icon('works_header','works__title_bgr')
    section.works__slider.clearfix
        .slider#js-slider
            .slider__desc
                .slider__desc-in
                    h3.slider__title.title Сайт школы онлайн образования
                    .slider__info HTML, CSS, JavaScript

                    a.slider__link.btn(href="#404"  target="_blank")
                        i.btn__icon.fa.fa-link
                        span.btn__text Посмотреть сайт


            .slider__view
                ul.slider__slides.slides
                    li.slides__item.slides__item_active
                        img(src="assets/userfiles/work-1.png"  alt="")
                    li.slides__item
                        img(src="assets/userfiles/work-2.png"  alt="")
                    li.slides__item
                        img(src="assets/userfiles/work-3.png"  alt="")


            .slider__controls
                a.slider__control.slider__control_prev(href="#404"  title="Предыдущий проект")
                    ul.slider__slides.slides
                        li.slides__item
                            img(src="assets/userfiles/work-1.png"  alt="")
                        li.slides__item
                            img(src="assets/userfiles/work-2.png"  alt="")
                        li.slides__item
                            img(src="assets/userfiles/work-3.png"  alt="")

                a.slider__control.slider__control_next(href="#404"  title="Следующий проект")
                    ul.slider__slides.slides
                        li.slides__item
                            img(src="assets/userfiles/work-1.png"  alt="")
                        li.slides__item
                            img(src="assets/userfiles/work-2.png"  alt="")
                        li.slides__item
                            img(src="assets/userfiles/work-3.png"  alt="")

                ul.slider__data.slider-data
                    li.slider-data__item(
                    data-title="Название 1"
                    data-tools="HTML, CSS, JavaScript"
                    data-link="#1"
                    )
                    li.slider-data__item(
                    data-title="Название 2"
                    data-tools="HTML, CSS, JavaScript, PHP, MySQL"
                    data-link="#2"
                    )
                    li.slider-data__item(
                    data-title="Название 3"
                    data-tools="HTML, CSS, JavaScript, NODE.js, MongoDB"
                    data-link="#3"
                    )

block content_footer
    section.testimonials
        .testimonials__body
            .testimonials_title
                h2.page__title.page__title_black= usrData.pagesTitles.whatsay
                +icon('about_header','works__title_bgr')

            //Testimonials
            .testimonials__wrap
                .clearfix
                    .testimonials__block
                        .testimonials__avatar
                            img(src="assets/img/kovalchuk.jpg" alt="Ковальчук Дмитрий" title="Ковальчук Дмитрий")
                        .testimonials__content
                            p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                            .testimonials__person
                                .testimonials__name Ковальчук Дмитрий
                                .testimonials__desc --основатель Loftchool

                    .testimonials__block
                        .testimonials__avatar
                            img(src="assets/img/zaharov.jpg" alt="Зар Захаров" title="Зар Захаров")
                        .testimonials__content
                            p Этот код выдержет любые испытания. Только, пожалуйста, не загружйте сайт в слишком старых браузерах!
                            .testimonials__person
                                .testimonials__name Зар Захаров
                                .testimonials__desc --главный преподаватель



            section.contact__form.mainbox
                form.contact__form_callback(name="callback")
                    .contact__form_body
                        h3.contact__form_title.section__title= usrData.pagesTitles.contactme

                        label.form-row
                            input.form-input(
                            type="text"
                            name="name"
                            placeholder=`${usrData.form.name}`
                            required
                            )

                        label.form-row
                            input.form-input(
                            type="email"
                            name="email"
                            placeholder=`${usrData.form.email}`
                            required
                            )

                        label.form-row
                            textarea.form-textarea(
                            name="message"
                            placeholder=`${usrData.form.text}`
                            required
                            pattern="^.{8,100}$"
                            )

                    .contact__form_footer.mainbox_footer
                        .form-item
                            button.btn.form-button(type="submit")= usrData.form.send
                        .form-item
                            button.btn.form-button(type="reset")= usrData.form.cancel

