extends ../_template_pages

block variables
    - var title = 'Мои работы'

block content
    .works__section
        h1.page__title.page__title_black.center= usrData.pagesTitles.portfolio
        +icon('works_header','works__title_bgr')



    section.works__slider
        .slider#works-slider
            .slider__info
                .slider__info_center
                    h3.slider__title.section__title Сайт школы онлайн образования
                    .slider__techs HTML, CSS, JavaScript

                    a.slider__link.btn(href="#"  target="_blank")
                        i.btn__icon.fa.fa-link
                        span.btn__text Посмотреть сайт


            .slider__image
                ul.slider__slides.slides
                    li.slider__item.flx.slider__item_active
                        img(src="assets/img/project-1.png"  alt="")
                    li.slider__item.flx
                        img(src="assets/img/project-2.png"  alt="")
                    li.slider__item.flx
                        img(src="assets/img/project-3.png"  alt="")


            .slider__controls
                a.slider__control.slider__control_prev(title="Предыдущий проект")
                    ul.slider__slides.slides
                        li.slider__item
                            img(src="assets/img/project-1.png"  alt="")
                        li.slider__item
                            img(src="assets/img/project-2.png"  alt="")
                        li.slider__item
                            img(src="assets/img/project-3.png"  alt="")

                a.slider__control.slider__control_next(title="Следующий проект")
                    ul.slider__slides.slides
                        li.slider__item
                            img(src="assets/img/project-1.png"  alt="")
                        li.slider__item
                            img(src="assets/img/project-2.png"  alt="")
                        li.slider__item
                            img(src="assets/img/project-3.png"  alt="")

                ul.slider__data.slider-data
                    li.slider-data__item(
                    data-title="Название 1"
                    data-tools="HTML, CSS, JavaScript"
                    data-link="#1"
                    )
                    li.slider-data__item(
                    data-title="Название 2"
                    data-tools="HTML, CSS, JavaScript, PHP, MySQL"
                    data-link="#2"
                    )
                    li.slider-data__item(
                    data-title="Название 3"
                    data-tools="HTML, CSS, JavaScript, NODE.js, MongoDB"
                    data-link="#3"
                    )

block content_footer
    section.testimonials
        .testimonials__body
            .testimonials_title
                h2.page__title.page__title_black= usrData.pagesTitles.whatsay
                +icon('about_header','works__title_bgr')

            //Testimonials
            .testimonials__wrap
                .clearfix
                    .testimonials__block
                        .testimonials__avatar
                            img(src="assets/img/kovalchuk.jpg" alt="Ковальчук Дмитрий" title="Ковальчук Дмитрий")
                        .testimonials__content
                            p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                            .testimonials__person
                                .testimonials__name Ковальчук Дмитрий
                                .testimonials__desc --основатель Loftchool

                    .testimonials__block
                        .testimonials__avatar
                            img(src="assets/img/zaharov.jpg" alt="Зар Захаров" title="Зар Захаров")
                        .testimonials__content
                            p Этот код выдержет любые испытания. Только, пожалуйста, не загружйте сайт в слишком старых браузерах!
                            .testimonials__person
                                .testimonials__name Зар Захаров
                                .testimonials__desc --главный преподаватель



            section.contact__form.mainbox
                form.contact__form-ajax(name="contact__form-ajax" method="post" action="mailer.php")
                    .contact__form_body
                        h3.contact__form_title.section__title= usrData.pagesTitles.contactme
                        #contact__form_response
                        label.form-row
                            input.form-input(
                            type="text"
                            name="name"
                            placeholder=`${usrData.form.name}`
                            required
                            )#name

                        label.form-row
                            input.form-input(
                            type="email"
                            name="email"
                            placeholder=`${usrData.form.email}`
                            required
                            )#email

                        label.form-row
                            textarea.form-textarea(
                            name="message"
                            placeholder=`${usrData.form.text}`
                            required
                            pattern="^.{8,100}$"
                            )#message

                    .contact__form_footer.mainbox_footer
                        .form-item
                            button.btn.form-button(type="submit")= usrData.form.send
                        .form-item
                            button.btn.form-button(type="reset")= usrData.form.cancel

